" ****************************************
" Plugins
" ****************************************
set multiple-cursors
set commentary
set NERDTree
set easymotion
set ideajoin
set idearefactormode=keep
set surround

" ****************************************
" Vim Config
" ****************************************


" ****************************************
" Basic
" ****************************************
set number          " Line numbers
set relativenumber  " Relative line numbers
set hlsearch        " Highlight whole word when searching
set ignorecase      " Ignore case when searching...
set smartcase       " ...except when serach query contains a capital letter
"set listchars=eol:¬,tab:>·,trail:~,extends:>,precedes:<,space:␣
"set list            " show end of line

" end
" ******************************************
" REMAP Y and P for clipboard usages
" * for main clipboard
" + for vim clipboard?
" *****************************************
noremap <Leader>y "*y
noremap <Leader>p "*p
noremap <Leader>Y "+y
noremap <Leader>P "+p

" ******************************************
" Remap for ideavim to show error description
" *****************************************
map gh :action ShowErrorDescription \| :action QuickJavaDoc<CR>
map gm :action HideAllWindows<CR>
nnoremap <C-w>q :tabclose<CR>

" ******************************************
" NERD Tree Keybinding
" ******************************************
" Toggle NERDTree and go to file with Find
" map NERDTree to Ctrl+Shift+E
nnoremap <C-S-e> :NERDTreeToggle<CR>