# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
show_hidden = true

[opener]
edit = [
    { run = "${EDITOR:-vi} %s", desc = "$EDITOR", for = "unix", block = true },
    { run = "code -w %s", desc = "code (block)", for = "windows", block = true },
]
nvim = [
    { run = "${EDITOR:-vi} %s", desc = "NVim", block = true },
]
code = [{ run = "code %s", desc = "code", orphan = true }]
cursor = [{ run = "cursor %s", desc = "cursorai", orphan = true }]

[open]
rules = [
    # Folder
    { url = "*/", use = [
        "edit",
        "open",
        "reveal",
    ] },
    # Text
    { mime = "text/*", use = [
        "nvim",
        "edit",
        "reveal",
        "code",
        "cursor",
    ] },
    # Image
    { mime = "image/*", use = [
        "open",
        "reveal",
    ] },
    # Media
    { mime = "{audio,video}/*", use = [
        "play",
        "reveal",
    ] },
    # Archive
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [
        "extract",
        "reveal",
    ] },
    # JSON
    { mime = "application/{json,ndjson}", use = [
        "nvim",
        "edit",
        "reveal",
        "code",
        "cursor",
    ] },
    { mime = "*/javascript", use = [
        "nvim",
        "edit",
        "reveal",
        "code",
        "cursor",
    ] },
    # Empty file
    { mime = "inode/empty", use = [
        "nvim",
        "edit",
        "reveal",
        "code",
        "cursor",
    ] },
    # Virtual file system
    { mime = "vfs/{absent,stale}", use = "download" },
    # Fallback
    { url = "*", use = [
        "nvim",
        "open",
        "reveal",
        "code",
    ] },
]
